.our-tourists{
    width: 100%;
    max-width: 1770px;
    min-height: 731px;
    background-image: url(/images/person-hiking.jpg);
    margin: auto;
    display: flex;
    justify-content: center;
}

.section_third-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section_third-txt-container{
    width: 668px;
    height: 287px;
    background: #333333;
    padding-top: 49px;
    padding-left: 49px;
}

.info-box{
    display: flex;
}


.quote-mark{
    color: #5474FD;
    position: absolute;
}

.quote-txt{
    text-indent: 8%;
    padding-top: 20px;
    padding-right: 25px;
}

.quote{
    display: flex;
    align-items: baseline;
}

.hiker-img{
    max-width: 445px;
}