.our-tourists{
    width: 100%;
    max-width: 1770px;
    height: 731px;
    background-image: url(/images/person-hiking.jpg);
    margin: auto;
    display: flex;
    justify-content: center;
}

.section_third-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.section_third-txt-container{
    width: 668px;
    height: 287px;
    background: #333333;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 49px;
}

.info-box{
    display: flex;
}