$main-font: 'Josefin Sans';
$secondary-font: 'Aleo';
$main-color: #E8E8E8;
$secondary-color: #FFFFFF;

@mixin paragraph-normal{
    font: 100% $main-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    display: flex;
    align-items: center;
    letter-spacing: 1.6px;
    color: $main-color;
}

@mixin h2 {
    font: 100% $secondary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    /* identical to box height, or 72% */
    align-items: center;
    color: $secondary-color;
}

@mixin h3 {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 130% */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

@mixin btn{
    width: 228px;
    height: 63px;
    background: #5474FD;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    &:hover{
        transform: scale(1.1);
        opacity: 90%;
        transition: ease 0.5s;
    }
}

body{
    width: 100%;
    height: 100vh;
    margin: auto;
}

a:hover{
    cursor: pointer;
    opacity: 70%;
}

@import 'homepage';
@import 'why-choose-us';
@import 'spain';
@import 'what-our-tourists-say';
@import 'footer';
@import 'responsive';