body {
  width: 100%;
  height: 100vh;
  margin: auto;
}

a:hover {
  cursor: pointer;
  opacity: 70%;
}

h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 26px;
  /* identical to box height, or 54% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 11px;
}

.title-paragraph {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height, or 118% */
  letter-spacing: 6.82px;
  color: #FFFFFF;
  margin-bottom: 48px;
  text-align: center;
}

.homepage {
  background-image: url(/images/homepage.jpg);
  width: 100%;
  max-width: 1770px;
  height: 100vh;
  max-height: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-container {
  margin: auto;
}

.form-container {
  max-width: 503px;
  height: 63px;
  background: #FFFFFF;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  letter-spacing: 2.8px;
  color: #999999;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 153px;
  height: 63px;
  background: #5474FD;
  border: 2px solid #FFFFFF;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.form-btn:hover {
  cursor: pointer;
  background: grey;
}

.placeholder {
  width: 503px;
  height: 63px;
  border: none;
  font-family: "Josefin Sans";
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  letter-spacing: 2.8px;
  color: #5474FD;
  text-align: center;
}

input::-webkit-input-placeholder {
  color: #999999;
}

input::-moz-placeholder {
  color: #999999;
}

input:-ms-input-placeholder {
  color: #999999;
}

input::-ms-input-placeholder {
  color: #999999;
}

input::placeholder {
  color: #999999;
}

.form-icon {
  padding-left: 10px;
}

.scroll {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  letter-spacing: 2.8px;
}

.scroll-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  margin-top: 50px;
}

.logo {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  /* identical to box height, or 108% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #FFFFFF;
  overflow: hidden;
  position: relative;
}
.logo:link {
  text-decoration: none;
  color: #FFFFFF;
}
.logo:visited {
  text-decoration: none;
  color: #FFFFFF;
}
.logo:hover {
  opacity: 50%;
  padding-bottom: 3px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.logo:active {
  text-decoration: none;
  color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1773px;
  height: 83px;
  background-color: #5474FD;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 42px;
  font-family: "Aleo";
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  text-transform: uppercase;
  color: #FFFFFF;
}

.menu-item {
  text-decoration: none;
}
.menu-item:link {
  text-decoration: none;
  color: #FFFFFF;
}
.menu-item:visited {
  text-decoration: none;
  color: #FFFFFF;
}
.menu-item:hover {
  opacity: 50%;
  border-bottom: 2px solid #FFFFFF;
  padding-bottom: 3px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.menu-item:active {
  text-decoration: none;
  color: #FFFFFF;
}

.text {
  font: 100% "Josefin Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1.6px;
  color: #E8E8E8;
}

.text-margin {
  margin-bottom: 30px;
}

h2 {
  font: 100% "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  /* identical to box height, or 72% */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  padding-bottom: 50px;
}

.btn {
  width: 228px;
  height: 63px;
  background: #5474FD;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}
.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 90%;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.why_container {
  width: 100%;
  max-width: 1770px;
  min-height: 685px;
  background-image: url(/images/background-section2.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.text-container {
  max-width: 560px;
}

.image {
  width: 100%;
  max-width: 350px;
  height: 220px;
}

.paragraph {
  margin-bottom: 45px;
}

.section_why_img-container {
  width: 440px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}

.image-second {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.icons-container {
  width: 100%;
  background: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-container {
  width: 100%;
  max-width: 1773px;
  min-height: 340px;
  padding-top: 46px;
  background: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-icon {
  margin-top: 35px;
}

.fa-sharp {
  color: #FF6363;
}

.search-places, .select-places, .book-enjoy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  position: relative;
  width: 60px;
  background: #333333;
  border: 10px #333333 solid;
}

.shape {
  position: absolute;
  max-width: 777px;
  height: 95px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.title_section {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height, or 130% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 13px;
  margin-top: 23px;
}

.before-title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height, or 130% */
  letter-spacing: 1.5px;
  color: #E8E8E8;
}

.spain_section-one {
  background-image: url(/images/house-madrid.jpg);
  width: 100%;
  max-width: 1770px;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spain-bg {
  width: 1113px;
}

.spain_info-container {
  max-width: 543px;
  height: 374px;
  background: #232323;
  mix-blend-mode: normal;
  opacity: 0.9;
  padding: 49px 32px 32px 49px;
}

.text-spain {
  margin-bottom: 46px;
}

.spain_section-two {
  background-image: url(/images/rocks.jpg);
  width: 100%;
  max-width: 1770px;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spain-bg-two {
  width: 1113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.our-tourists {
  width: 100%;
  max-width: 1770px;
  height: 731px;
  background-image: url(/images/person-hiking.jpg);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_third-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_third-txt-container {
  width: 668px;
  height: 287px;
  background: #333333;
  padding-top: 49px;
  padding-left: 49px;
}

.info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quote-mark {
  color: #5474FD;
  position: absolute;
}

.quote-txt {
  text-indent: 8%;
  padding-top: 20px;
  padding-right: 25px;
}

.quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.hiker-img {
  max-width: 445px;
}

footer {
  width: 100%;
  max-width: 1773px;
  height: 271px;
  background: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-bottom: 47px;
}

.footer-txt {
  font: 100% "Josefin Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1.6px;
  color: #E8E8E8;
  margin-top: 8px;
  margin-bottom: 20px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-brands {
  color: #E8E8E8;
  padding: 10px;
}
.fa-brands:hover {
  color: #5474FD;
}

@media screen and (max-width: 600px) {
  .homepage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .form {
    max-width: 150px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .info-container {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .logo {
    margin-left: 20px;
  }
  nav {
    max-height: 60px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  ul {
    display: none;
  }
  .menu-items {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  h3 {
    font-size: 20px;
  }
  h2 {
    font-size: 25px;
  }
  .text {
    font-size: 12px;
  }
  .text-container {
    margin-top: 40px;
    margin-bottom: 50px;
    max-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .btn {
    max-width: 150px;
    font-size: 12px;
  }
  .section_why_img-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .why_container {
    background: #333333;
  }
  .image-second {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 40px;
  }
  .shape {
    display: none;
  }
  .icons-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 40px;
  }
  .icon {
    max-width: 40px;
  }
  .title-icon {
    font-size: 20px;
  }
  .spain_info-container {
    max-width: 300px;
  }
  .spain-bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .spain_info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .spain-bg-two {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hiker-img {
    max-width: 340px;
  }
  .section_third-txt-container {
    max-width: 290px;
    height: 400px;
    padding-top: 20px;
  }
  .section_third-container {
    margin-top: 40px;
  }
  .quote-txt {
    text-indent: 20%;
  }
}